<%= form_for(@drinking_game) do |f| %>
  <% if @drinking_game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@drinking_game.errors.count, "error") %> prohibited this drinking_game from being saved:</h2>

      <ul>
      <% @drinking_game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :number_of_people %><br>
    <%= f.text_field :number_of_people %>
  </div>
  <div class="field">
    <%= f.label :supplies %><br>
    <%= f.text_field :supplies %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
